extends layout
block main
    div(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2', ng-controller='updateController')
        p.
           D3 bar chart updated in real-time using Socket.IO



        .alert.alert-info Open multiple browser windows to get the full effect.
        .well.clearfix
            .col-sm-6
                h3.no-bottom-margin
                    | Status &nbsp;
                    span(class='label label-primary'){{status}}
        .well.clearfix
            .col-lg-12
                h4.no-bottom-margin
                    | Test data will follow:
                    span(class='badge') {{testData}}

                .bs-component
                    .jumbotron
                        h2
                            | Barchart
                        p.
                            This is a classic bar chart with Axises and labels displayed where data is pulled from a data file</p>
                        p.
                            &nbsp
                        .realtime