!!!5
html(ng-app="barchartApp")
    head
        title Push Bar charts
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')

    body
        div(class='container')
            div(class='row')
                header(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2')
                    h1 Synchronized Push Notifications
                        br
                        small using Node, AngularJS, and Socket.IO
                main(role='main')
                    block main
                footer(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2')
                    p 



    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/bower_components/d3/d3.min.js')
    script(src='/js/main.js')