h3 span.label {
    padding: 0.2em 0.3em;
}
.drop {
    margin-top: 20px;
}
.btn { 
    margin-right: 20px;
}
.indent {
    margin-left: 20px;
}




bartwo rect {
    fill: #D884E0;
}

bartwo text {
    fill: black;
    font: 16px sans-serif;
    text-anchor: end;
}

.chart rect, .chartA rect,  {
    fill: #D884E0;
}

.chart text,  .chartA text,  {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}
.bar {
    fill: #D884E0;
}

.bar:hover {
    fill: brown;
}


.axis path,
.axis line {
    fill: none;
    stroke: #808080;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 14px;
    fill: #808080;
}
